<!doctype html>
<html style="<% if current_page.data.background_image %>background-image: url('<%= current_page.data.background_image %>')<% end %>">
	<head>
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

		<title><%= [@title || current_page.data.title, config.site_title].compact.join(config.title_delimiter) %></title>
		<meta name="description" content="<%= strip_tags @description || 'Led by Manoli Galanakis, Fieldstone is a full service landscape development firm providing design, site management and installation.'  %>" />

		<link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,600,400italic' rel='stylesheet' type='text/css'>

		<%= stylesheet_link_tag :site %>
	</head>

	<body class="<%= page_classes %> sticky-container">
		<header class="header sticky is-stuck is-at-bottom">
			<div class="header-title">
				<h1>
					<% link_to '/index.html' do %>
						<img src="/images/logo.jpg" alt="Fieldstone Landscape Development">
						<span class="is-hidden">Fieldstone Landscape Development</span>
					<% end %>
				</h1>
			</div>
			<menu class="header-menu">
				<li class="header-menu-item"><%= nav_link 'Home', '/index.html' %></li>
				<li class="header-menu-item"><%= nav_link 'About', '/about.html' %></li>
				<li class="header-menu-item"><%= nav_link 'Portfolio', '/portfolio.html' %></li>
				<li class="header-menu-item"><%= nav_link 'Contact', '/contact.html' %></li>
			</menu>
		</header>

		<%= yield %>
	</body>
</html>
