<!doctype html>
<html lang="en" style="<% if current_page.data.background_image %>background-image: url('<%= current_page.data.background_image %>')<% end %>">
	<head>
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

		<%
		@meta_title = [@title || current_page.data.title, config.site_title].compact.join(config.title_delimiter)
		@meta_description = strip_tags @description || config.site_description
		@meta_url = File.join(config.site_url, current_page.url)
		@meta_image_url = current_page.data.image_url || @cover_image_url
		%>

		<title><%= @meta_title %></title>
		<meta property="og:title" content="<%= @meta_title %>" />
		<meta property="og:description" content="<%= @meta_description %>" />
		<meta name="description" content="<%= @meta_description %>" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="<%= config.site_title %>">
		<meta property="og:url" content="<%= @meta_url %>">
		<link rel="canonical" href="<%= @meta_url %>" />
		<meta name="twitter:card" content="summary" />

		<% if @meta_image_url %>
		<meta property="og:image" content="<%= @meta_image_url %>">
		<% end %>

		<link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,600,400italic' rel='stylesheet' type='text/css'>

		<%= stylesheet_link_tag :site %>
	</head>

	<body class="<%= page_classes %> sticky-container">
		<header class="header sticky is-stuck is-at-bottom">
			<div class="header-title">
				<h1>
					<% link_to '/index.html' do %>
						<img src="/images/logo.jpg" alt="Fieldstone Landscape Development">
						<span class="is-hidden">Fieldstone Landscape Development</span>
					<% end %>
				</h1>
			</div>
			<menu class="header-menu">
				<li class="header-menu-item"><%= nav_link 'Home', '/index.html' %></li>
				<li class="header-menu-item"><%= nav_link 'About', '/about.html' %></li>
				<li class="header-menu-item"><%= nav_link 'Portfolio', '/portfolio.html' %></li>
				<li class="header-menu-item"><%= nav_link 'Contact', '/contact.html' %></li>
			</menu>
		</header>

		<%= yield %>
	</body>
</html>
